services:

  db:
    build:
      context: .
      dockerfile: docker/db/Dockerfile
    container_name: hostel-db
    ports:
      - "3306:3306"

  app:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    container_name: hostel-app
    ports:
      - "3000:3000"
    depends_on:
      - db

  frontend:
    build:
      context: .
      dockerfile: docker/frontend/Dockerfile
    container_name: hostel-frontend
    ports:
      - "8080:80"
    depends_on:
      - app
